#reference_file (fasta file full path)
/home/user/seq_typing/seqtyping/reference_sequences/haemophilus_influenzae/1_serotype_specific_capsular_genes.fasta
#length_extra_seq (x, int)
0
#minimum_depth_presence (x, int)
5
#minimum_depth_call (x, int)
10
#minimum_gene_coverage (0-100, int)
60
#bowtie_algorithm (Bowtie2 mapping mode)
--sensitive-local
#maximum_number_mapped_locations (maximum number of locations to which a read can map)
1
