#reference_file (fasta file full path)
/home/user/seq_typing/reference_sequences/stx_subtyping/1_virulence_db.stx1_subtyping.fasta /home/user/seq_typing/reference_sequences/stx_subtyping/2_virulence_db.stx2_subtyping.fasta
#length_extra_seq (x, int)
0
#minimum_depth_presence (x, int)
5
#minimum_depth_call (x, int)
5
#minimum_gene_coverage (0-100, int)
60
